.header {
  background-color: var(--color-contrast);
  display: flex;
  justify-content: center;
  text-align: center;
}

.header__logo {
  max-width: 150px;
  min-width: 100px;
  padding: 1rem 0;
  width: 100%;
}